/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    /*overflow-x: hidden;*/
}

/*BARRA DE NAVEGACION*/
.navbar {
    background-color:rgba(168, 220, 222, 0.718);
    font-size: 20px ;
    font-family: 'Montserrat' bold;
    font-weight: 50px;
}



.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/*Media query para ocultar el icono en la barra de navegacion responsive*/
@media  screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}


/*SECCION SLIDER DE IMAGENES*/
.carousel-inner {
    max-height: 39rem;
    
}

